//// Colour Palette

// Primary Palette

// Background colors
.bg-white {
  background-color: $white;
}
.bg-lgray {
  background-color: $lgray;
}
.bg-dgray {
  background-color: $dgray;
}
.bg-black {
  background-color: $black;
}

// Text colors
.txt-white {
  color: $white;
}
.txt-lgray {
  color: $lgray;
}
.txt-dgray {
  color: $dgray;
}
.txt-black {
  color: $black;
}

//Secondary Palette
