.list-group-item {
    align-items: center;
    display: flex;
    transition: $transition;

    .img-circle {
        height: 50px;
    }

    .profile-info {
        margin-left: 10px;
    }

    &.disabled {
        font-style: italic;
    }
}
