.header {
    .navbar {
        border-color: $red;
        border-width: 0 0 3px;

        .navbar-brand {
            @include hs-under {
                margin-left: -15px;
            }
        }
    }
}
